<div class="login-wrapper view">
    <form
        class="login-form"
        [formGroup]="form">
        <mat-form-field>
            <mat-label>Login</mat-label>
            <input
                matInput
                formControlName="login" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
                type="password"
                matInput
                formControlName="password" />
        </mat-form-field>
        <button
            type="button"
            mat-flat-button
            color="primary"
            (click)="signIn()">
            <mat-icon>login_outline</mat-icon>
            Sign In
        </button>
    </form>
</div>
