<div class="update-sprint-dialog-container">
    <h1 mat-dialog-title>Update sprint</h1>
    <mat-dialog-content>
        <form
            class="form grid-1"
            [formGroup]="form">
            <app-shared-input
                [control]="nameControl"
                [label]="'estimation.text.sprint_name' | translate"
                [classList]="['field']">
            </app-shared-input>

            <app-shared-date
                [control]="startDateControl"
                [label]="'common.text.start_date' | translate"
                hint="mm/dd/yyyy"
                [classList]="['field']">
            </app-shared-date>

            <app-shared-date
                [control]="endDateControl"
                [label]="'common.text.end_date' | translate"
                hint="mm/dd/yyyy"
                [classList]="['field']">
            </app-shared-date>

            <app-shared-input
                [control]="daysCapacityControl"
                [label]="'estimation.text.days_capacity' | translate"
                [classList]="['field']">
            </app-shared-input>

            <app-shared-input
                [control]="pointsCapacityControl"
                [label]="'estimation.text.points_capacity' | translate"
                [classList]="['field']">
            </app-shared-input>

            <app-shared-textarea
                [control]="descriptionControl"
                [label]="'estimation.text.sprint_goal' | translate"
                [classList]="['field']">
            </app-shared-textarea>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button
            color="primary"
            mat-button
            (click)="onClose()">
            {{ 'common.button.cancel' | translate }}
        </button>
        <button
            mat-button
            color="accent"
            (click)="onUpdateSprint()"
            cdkFocusInitial>
            {{ 'common.button.save' | translate }}
        </button>
    </mat-dialog-actions>
</div>
