<div class="sprint-wizard-container card-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>{{ 'estimation.text.create_sprint' | translate }}</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-stepper
                linear
                #sprintWizardStepper
                labelPosition="bottom"
                [orientation]="(isMobileLayout$ | async) ? 'vertical' : 'horizontal'"
                class="stepper-container">
                <mat-step [stepControl]="sprintForm">
                    <ng-template matStepLabel>{{ 'estimation.text.general_information' | translate }}</ng-template>
                    <ng-template matStepContent>
                        <div class="content">
                            <h3>{{ 'estimation.text.general_information' | translate }}</h3>
                            <form
                                class="form grid-1"
                                [formGroup]="sprintForm">
                                <app-shared-input
                                    [form]="sprintForm"
                                    [control]="nameControl"
                                    name="name"
                                    label="Sprint name"
                                    [classList]="['field']">
                                </app-shared-input>

                                <app-shared-date
                                    [form]="sprintForm"
                                    [control]="startDateControl"
                                    name="startDate"
                                    label="Start date"
                                    hint="mm/dd/yyyy"
                                    [classList]="['field']">
                                </app-shared-date>

                                <app-shared-date
                                    [form]="sprintForm"
                                    [control]="endDateControl"
                                    name="endDate"
                                    label="End date"
                                    hint="mm/dd/yyyy"
                                    [classList]="['field']">
                                </app-shared-date>

                                <app-shared-textarea
                                    [form]="sprintForm"
                                    [control]="descriptionControl"
                                    name="description"
                                    label="Sprint goal"
                                    [classList]="['field']">
                                </app-shared-textarea>
                            </form>
                        </div>
                        <div class="actions">
                            <button
                                color="accent"
                                mat-button
                                matStepperNext>
                                <mat-icon>check_circle</mat-icon>
                                {{ 'common.button.next' | translate }}
                            </button>
                        </div>
                    </ng-template>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>{{ 'estimation.text.team_working_days' | translate }}</ng-template>
                    <ng-template matStepContent>
                        <div class="content">
                            <h3>{{ 'estimation.text.team_working_days' | translate }}</h3>
                            <ng-container *ngIf="team$ | async">
                                <ng-container *ngFor="let item of teamCapacityMembers">
                                    <div>
                                        {{ item.member.name }}
                                        {{ item.member.role }}
                                    </div>
                                    <form
                                        class="form grid-1"
                                        [formGroup]="item.form">
                                        <app-shared-input
                                            [form]="item.form"
                                            name="daysCapacity"
                                            label="Working days"
                                            [classList]="['field']"
                                            [validators]="teamCapacityValidators">
                                        </app-shared-input>
                                        <app-shared-input
                                            [form]="item.form"
                                            name="pointsCapacity"
                                            label="Sprint points"
                                            [classList]="['field']"
                                            [validators]="teamCapacityValidators">
                                        </app-shared-input>
                                    </form>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="actions">
                            <button
                                color="primary"
                                mat-button
                                matStepperPrevious>
                                <mat-icon>arrow_back</mat-icon>
                                {{ 'common.button.back' | translate }}
                            </button>
                            <button
                                color="accent"
                                mat-button
                                (click)="onNavigateToSprintCapacity()">
                                <mat-icon>check_circle</mat-icon>
                                {{ 'common.button.next' | translate }}
                            </button>
                        </div>
                    </ng-template>
                </mat-step>
                <mat-step [stepControl]="sprintCapacityForm">
                    <ng-template matStepLabel>{{ 'estimation.text.sprint_capacity' | translate }}</ng-template>
                    <ng-template matStepContent>
                        <div class="content">
                            <h3>{{ 'estimation.text.sprint_capacity' | translate }}</h3>
                            <form
                                class="form grid-1"
                                [formGroup]="sprintCapacityForm">
                                <app-shared-input
                                    [form]="sprintCapacityForm"
                                    [control]="sprintCapacityControl"
                                    name="sprintCapacity"
                                    label="Sprint Capacity (Days)"
                                    [classList]="['field']">
                                </app-shared-input>
                            </form>
                            <div class="actions">
                                <button
                                    color="primary"
                                    mat-button
                                    matStepperPrevious>
                                    <mat-icon>arrow_back</mat-icon>
                                    {{ 'common.button.back' | translate }}
                                </button>
                                <button
                                    color="accent"
                                    mat-button
                                    matStepperNext>
                                    <mat-icon>check_circle</mat-icon>
                                    {{ 'common.button.next' | translate }}
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>{{ 'estimation.text.summary' | translate }}</ng-template>
                    <ng-template matStepContent>
                        <div class="content">
                            <h3>{{ 'estimation.text.summary' | translate }}</h3>
                            <h4>{{ 'estimation.text.general_information' | translate }}</h4>
                            <app-shared-details-list
                                [mapper]="sprintWizardMapper"
                                [item]="generateSprintInformationSummary()"
                                [columnsLength]="1">
                            </app-shared-details-list>
                            <h4>{{ 'estimation.text.team_capacity' | translate }}</h4>
                            <div *ngFor="let item of teamCapacityMembers">
                                <app-shared-details-list
                                    [mapper]="teamCapacityMapper"
                                    [item]="generateSprintTeamInformationSummary(item)"
                                    [columnsLength]="1">
                                </app-shared-details-list>
                                <mat-divider></mat-divider>
                            </div>
                            <div class="actions">
                                <button
                                    color="primary"
                                    mat-button
                                    matStepperPrevious>
                                    <mat-icon>arrow_back</mat-icon>
                                    {{ 'common.button.back' | translate }}
                                </button>
                                <button
                                    color="primary"
                                    mat-button
                                    (click)="onResetStepper()">
                                    <mat-icon>restart_alt</mat-icon>
                                    {{ 'common.button.reset' | translate }}
                                </button>
                                <button
                                    color="accent"
                                    mat-flat-button
                                    (click)="onCreateSprint()">
                                    {{ 'estimation.text.create_sprint' | translate }}
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </mat-step>
            </mat-stepper>
        </mat-card-content>
    </mat-card>
</div>
