<div class="settings-dialog-container">
    <h2 mat-dialog-title>{{ 'core.settings' | translate }}</h2>
    <mat-dialog-content>
        <form
            class="form grid-1"
            [formGroup]="form">
            <mat-form-field>
                <mat-label>{{ 'core.language' | translate }}</mat-label>
                <mat-select formControlName="language">
                    <mat-option
                        *ngFor="let option of languagesOptions"
                        [value]="option.value">
                        {{ option.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button
            mat-button
            mat-dialog-close>
            {{ 'buttons.cancel' | translate }}
        </button>
        <button
            mat-button
            color="accent"
            (click)="onSaveSettings()"
            cdkFocusInitial>
            {{ 'buttons.save' | translate }}
        </button>
    </mat-dialog-actions>
</div>
