$app-text-contrast-accent: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgb(255, 255, 255),
    500: rgb(255, 255, 255),
    600: rgb(255, 255, 255),
    700: rgb(255, 255, 255),
    800: rgb(255, 255, 255),
    900: rgb(255, 255, 255),
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(0, 0, 0, 0.87),
    A400: rgba(0, 0, 0, 0.87),
    A700: rgba(0, 0, 0, 0.87),
);

$accent-palette: (
    50: #f1f7e5,
    100: #dbebbe,
    200: #c3de92,
    300: #abd166,
    400: #99c746,
    500: #87bd25,
    600: #7fb721,
    700: #74ae1b,
    800: #6aa616,
    900: #57980d,
    A100: #e3ffc8,
    A200: #c9ff95,
    A400: #afff62,
    A700: #a2ff48,
    contrast: $app-text-contrast-accent,
);
