$app-text-contrast-primary: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgb(255, 255, 255),
    400: rgb(255, 255, 255),
    500: rgb(255, 255, 255),
    600: rgb(255, 255, 255),
    700: rgb(255, 255, 255),
    800: rgb(255, 255, 255),
    900: rgb(255, 255, 255),
    A100: rgba(0, 0, 0, 0.87),
    A200: rgb(255, 255, 255),
    A400: rgb(255, 255, 255),
    A700: rgb(255, 255, 255),
);

$primary-palette: (
    50: #e7e7e7,
    100: #c4c4c4,
    200: #9c9c9c,
    300: #747474,
    400: #575757,
    500: #393939,
    600: #333333,
    700: #2c2c2c,
    800: #242424,
    900: #171717,
    A100: #ef7171,
    A200: #ea4343,
    A400: #fa0000,
    A700: #e00000,
    contrast: $app-text-contrast-primary,
);
