@use 'mixins';

:host {
    flex: 1;
    overflow: hidden;
    // this padding adds shadow for mat card
    // when overflow hidden
    padding: 2px;

    .team-information-container {
        @include mixins.flex-column();
        @include mixins.full-height-width();

        mat-card {
            overflow: hidden;
            // background: linear-gradient(332deg, rgba(238,174,202,0.2) 31%, rgba(148,187,233,0.2) 80%);

            mat-card-content {
                @include mixins.flex-column();
                overflow: hidden;
            }
        }

        .actions {
            button {
                margin-right: 0.5em;
            }
        }
    }
}
