<div class="team-information-container card-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>{{ 'team.create_team' | translate }}</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h4>{{ 'team.information' | translate }}</h4>
            <app-team-form></app-team-form>

            <h4>{{ 'team.team_members' | translate }}</h4>
            <app-team-member-list></app-team-member-list>
        </mat-card-content>
        <mat-card-actions align="end">
            <div class="actions">
                <button
                    mat-button
                    [ngClass]="{ full: isMobileLayout$ | async }"
                    color="primary"
                    (click)="onOpenAddTeamMemberDialog()">
                    <mat-icon>person_add</mat-icon>
                    <span>{{ 'buttons.add_members' | translate }}</span>
                </button>
                <button
                    mat-button
                    [ngClass]="{ full: isMobileLayout$ | async }"
                    color="accent">
                    <mat-icon>group_add</mat-icon>
                    <span>{{ 'buttons.create_team' | translate }}</span>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
