<div class="team-list-container">
    <ng-container *ngIf="teams$ | loadingList | async as items">
        <ng-template [ngIf]="items.value">
            <mat-list>
                <mat-list-item
                    class="list-item"
                    *ngFor="let team of items.value"
                    (click)="onNavigateToTeamSprints(team.id)"
                    matRipple>
                    <mat-icon matListItemIcon>groups</mat-icon>
                    <div matListItemTitle>{{ team.name }}</div>
                    <div matListItemLine>{{ 'team.text.team_members' | translate }}: {{ team.members.length }}</div>
                </mat-list-item>
            </mat-list>
        </ng-template>
        <ng-template [ngIf]="items.loading">
            <app-shared-list-loading
                icon="groups"
                [itemsLength]="3">
            </app-shared-list-loading>
        </ng-template>
        <ng-template [ngIf]="!items?.value?.length && !items.loading">
            <app-shared-empty-data icon="groups"></app-shared-empty-data>
        </ng-template>
    </ng-container>
</div>
