<div class="team-member-container">
    <ng-container *ngIf="members$ | loadingList | async as items">
        <ng-template [ngIf]="items?.value">
            <mat-list>
                <mat-list-item
                    *ngFor="let member of items.value"
                    matRipple>
                    <mat-icon matListItemIcon>person</mat-icon>
                    <div matListItemTitle>{{ member.name }}</div>
                    <div matListItemLine>{{ member.role }}</div>
                </mat-list-item>
            </mat-list>
        </ng-template>
        <ng-template [ngIf]="items.loading">
            <app-list-loading
                icon="person"
                [itemsLength]="3">
            </app-list-loading>
        </ng-template>
        <ng-template [ngIf]="!items?.value?.length && !items.loading">
            <app-empty-data
                icon="person"
                text="No team members added yet">
            </app-empty-data>
        </ng-template>
    </ng-container>
</div>
