<div class="team-form-container">
    <form
        class="form grid-1"
        [ngClass]="{ 'grid-3': isMobileLayout$ | async | isFalse }">
        <mat-form-field class="field">
            <mat-label>{{ 'team.team_name' | translate }}</mat-label>
            <input
                matInput
                [formControl]="name" />
        </mat-form-field>
        <mat-form-field class="field">
            <mat-label>{{ 'team.country' | translate }}</mat-label>
            <input
                matInput
                [formControl]="country" />
        </mat-form-field>
    </form>
</div>
