<div class="create-update-team-dialog-container">
    <h1 mat-dialog-title>{{ 'buttons.' + dialogState | translate }} {{ 'core.team' | translate }}</h1>
    <mat-dialog-content>
        <form
            class="form grid-1"
            [formGroup]="form">
            <mat-form-field>
                <mat-label>{{ 'team.team_name' | translate }}</mat-label>
                <input
                    matInput
                    formControlName="name" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'team.country' | translate }}</mat-label>
                <input
                    matInput
                    formControlName="country" />
            </mat-form-field>
        </form>

        <div class="title-container">
            <div class="title">
                <h3>Members</h3>
            </div>
            <div class="actions">
                <button
                    mat-icon-button
                    (click)="addTeamMember()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div *ngFor="let member of membersForms; index as i">
            <div class="title-container">
                <div class="title">
                    <h3>Member {{ i + 1 }}</h3>
                </div>
                <div class="actions">
                    <button
                        mat-icon-button
                        (click)="removeTeamMember(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <form
                class="form grid-1"
                [formGroup]="member">
                <mat-form-field>
                    <mat-label>{{ 'team.name' | translate }}</mat-label>
                    <input
                        matInput
                        formControlName="name" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ 'team.surname' | translate }}</mat-label>
                    <input
                        matInput
                        formControlName="surname" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ 'team.role' | translate }}</mat-label>
                    <input
                        matInput
                        formControlName="role" />
                </mat-form-field>
            </form>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button
            mat-button
            (click)="onClose()">
            {{ 'buttons.cancel' | translate }}
        </button>
        <button
            mat-button
            color="accent"
            (click)="onCreateUpdateTeam()"
            cdkFocusInitial>
            {{ 'buttons.save' | translate }}
        </button>
    </mat-dialog-actions>
</div>
