<div class="teams-container card-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>{{ 'team.text.teams' | translate }}</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-team-team-list></app-team-team-list>
        </mat-card-content>
        <mat-card-actions align="end">
            <button
                color="accent"
                mat-button
                (click)="onOpenCreateTeam()">
                <mat-icon>group_add</mat-icon>
                <span>{{ 'common.button.create' | translate }}</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
