<div class="team-list-container">
    <!-- TODO: Add cards ui  -->
    <ng-container *ngIf="teams$ | async as items">
        <ng-template [ngIf]="items">
            <mat-list>
                <mat-list-item
                    class="list-item"
                    *ngFor="let team of items"
                    matRipple
                    (click)="onOpenUpdateTeam(team)">
                    <mat-icon matListItemIcon>groups</mat-icon>
                    <div matListItemTitle>{{ team.name }}</div>
                    <div matListItemLine>{{ 'team.text.team_members' | translate }}: {{ team.members.length }}</div>
                </mat-list-item>
            </mat-list>
        </ng-template>
        <ng-template [ngIf]="isLoading">
            <app-list-loading
                icon="groups"
                [itemsLength]="3">
            </app-list-loading>
        </ng-template>
        <ng-template [ngIf]="!items?.length && !isLoading">
            <app-empty-data icon="groups"></app-empty-data>
        </ng-template>
    </ng-container>
</div>
