@use '@angular/material' as mat;

@mixin apply-light-theme($primary: null, $accent: null, $warn: null, $typography: null, $density: null) {
    $light-theme: mat.define-light-theme(
        (
            color: (
                primary: $primary,
                accent: $accent,
                warn: $warn,
            ),
            typography: $typography,
            density: $density,
        )
    );

    @include mat.all-component-themes($light-theme);
}
